@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
margin:0;
padding:0;
box-sizing: border-box;
}


body,button,input{
font-family: 'Josefin Sans', sans-serif;

}

body{
max-width: 100vw;
max-height:100vh;
overflow: hidden;
}

#root{
    min-width:100%;
    min-height:100vh;
    padding: 0;
}

.container{
    height:50rem;
}


.subContainer1{
    height:90%;
}

.subcontainer2{
    height:100%;
}




