@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
margin:0;
padding:0;
box-sizing: border-box;
}


h1,button,input{
font-family: 'Josefin Sans', sans-serif;

}

body{
max-width: 100vw;
max-height:100vh;
overflow: hidden;
}

#root{
    min-width:100%;
    min-height:100vh;
    padding: 0;
    display:flex;
    flex-direction: column;
    justify-content: centers;
}

.container{
    height:50rem;
}


.subContainer1{
    height:90%;
}

.subcontainer2{
    height:100%;
}


.lpContainer{
    background-image:linear-gradient(#12aa81,#11d7a2),linear-gradient(#ffffff,#ffffff);
    background-origin: border-box;
    background-position:top 0%,top 60%;
    background-size:100% 20%,100%;
    background-repeat: no-repeat;
}

.addContactWindow{
    animation-duration: 3s;
    animation-name: slideUp;
}

@keyframes slideUp {
    from{
        top: 100%;
        
    }
    to{
        top:20%;
        
    }
    
}



